<section id="{{include.title | slugify}}" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>{{include.title}}</h2>
      </header>
      <p>{{include.content}}</p>
      {% if include.carto-map-embed-link != null %}
        <iframe width="99%" style="height: 90vh" frameborder="0" src="{{include.carto-map-embed-link}}" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
      {% endif %}
    </div>
    {% if include.image != null %}
      <span class="image"><img src="{{include.image}}" alt="" /></span>
    {% endif %}
  </div>
</section>