<section id="{{include.title | slugify}}" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>{{include.title}}</h2>
      </header>
      <p>{{include.content}}</p>
      <ul class="actions">
        <li><a href="generic.html" class="button">Learn More</a></li>
      </ul>
    </div>
    {% if include.image != null %}
      <span class="image"><img src="{{include.image}}" alt="" /></span>
    {% endif %}

    {% if include.carto-map-embed-link != null %}
      <iframe width="99%" style="height: 90vh" frameborder="0" src="{{inlcude.carto-map-embed-link}}" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
    {% endif %}
  </div>
</section>