<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body style="background: linear-gradient(to top, rgba(59,103,158,1) 70%,rgba(125,185,232,0.8) 100%), url({{site.background-image}}) no-repeat">

    <div id="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

  </body>

</html>
